# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# our binaries
rdbms/rdbms
dbgen/dbgen

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# vendor is for temporary edits using "go mod vendor"
vendor/

